<!doctype html>
<html lang="{{ site.Language.Locale | default "zh-cn" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} - {{ site.Title }}{{ end }}</title>
    <link rel="icon" href="/favicon.ico">
    {{ with resources.Get "css/main.css" }}
      {{ $css := . | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    {{ end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ with resources.Get "js/carousel.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}
    {{ with resources.Get "js/home-effects.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}
    {{ with resources.Get "js/results-filters.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ end }}
  </body>
</html>
